body {
  direction: rtl;
  font-family: "Noto Sans Hebrew", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-align: center;
  margin: 0;
  background-color: bisque;
  line-height: 1;
}

header {
  height: 4vh;
}

main {
  background-color: aqua;
  height: 80vh;
  width: 80vw;
  margin: auto;
  border-radius: 50%;
}

footer {
  height: 1vh;
}
.project{
  background-color: rgb(89, 201, 195);
  border: solid 3px red;
  border-radius: 100%;
  width: 300px;
  margin: auto;
}
.project-num a{
  background-color: rgb(158, 18, 218);
  color: rgb(181, 186, 30);
  width: 900px;
  height: 300px;
  margin: auto;
  text-decoration: none;
  border-radius: 25%;
}

.project-num :hover{
  background-color: cadetblue;
}