body {
  direction: rtl;
  font-family: "Noto Sans Hebrew", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 3vh;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-align: center;
  margin: 0;
  background-color: bisque;
  line-height: 1;
}

header {
  height: 4vh;
  margin-top: 40px;
}

main {
  background-color: aqua;
  height: 80vh;
  width: 80vw;
  margin: auto;
  border-radius: 50%;
}

footer {
  height: 1vh;
}
.project{
  background-color: rgb(89, 201, 195);
  border: solid 3px red;
  border-radius: 100%;
  width: 300px;
  height: 80px;
  margin: auto;
}
.project-num a{
  background-color: rgb(158, 18, 218 0.1);
  color: rgb(86, 13, 169);
  width: 900px;
  height: 300px;
  margin: auto;
  text-decoration: none;
  border-radius: 25%;
  border: dashed 3px rgb(255, 149, 0);
}

.project-num :hover{
  background-color: rgb(204, 21, 236);
  color: rgb(239, 232, 13);
  border: solid 3px red;
}
h2{
  padding-top: 40px;
}
a{
  text-decoration: none;
}