body {
  margin: 0;
  padding: 0;
  background-color: #2a2826;
  height: 95vh;
}

.container {
  background: center / cover url("bg.webp") no-repeat;
  height: 85vh;
  width: 85vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tree {
  background: center / contain url("tree.webp") no-repeat;
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 10vh;
  width: 10vh;
}
.present-box1,
.present-box2,
.present-box3,
.present-box4,
.present-box5 {
  position: absolute;
  transform: translate(-50%, -50%);
}
.present-box1 {
  top: 82%;
  left: 62%;
}

.present-box2 {
  top: 85%;
  left: 51%;
}
.present-box3 {
  top: 89%;
  left: 43%;
  z-index: 2;
}
.present-box4 {
  top: 87%;
  left: 30%;
  z-index: 1;
}
.present-box5 {
  top: 84%;
  left: 20%;
  z-index: -1;
}
