body {
  direction: rtl;
  /* direction: ltr; */
}

aside {
  background-color: #14161b;
  color: bisque;
  width: 120px;
  height: calc(100vh - 80px);
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap");

.noto-sans-hebrew {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
