body {
  background-color: rgba(188, 138, 138, 0.381);
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  box-sizing: border-box;
  
}
section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: brown; */
  margin: auto;
}

figure {
  display: flex;
  justify-content: center;
  margin: auto;
  background: center / contain url("wheel.png") no-repeat;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  /* background-color: chartreuse; */
}


.ball-container {
  display: flex;
  justify-content: center;
  position: relative;
  /* margin: auto; */
  width: 15px;
  /* height: 400px; */
  /* height: 80vw; */
  height: 99%;
  transform: rotate(0deg);
  /* background-color: #b08ee2; */
  animation: rotate 5s 1 ease-out forwards 2s;
  /* animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s; */
}

.ball {
  /* opacity: 0.8; */
  border-radius: 50%;
  background-color: wheat;
  width: 30px;
  height: 30px;
  border: 1px solid #b752ce;
  position: absolute;
  margin-top: 100px;
  z-index: 1;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(815deg);
  }
}
/* @media (width < 615px) {
  .ball-container {
    display:flex;
    justify-content: center;
    background-color: #9fd11e;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ball {
    width: 30px;
    height: 30px;
    margin-top: 15vh;
  }
} */
