body {
  background-color: rgba(188, 138, 138, 0.381);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
main {
  margin: auto;
}

figure {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  background: center / contain url("wheel.png") no-repeat;
  width: 400px;
  height: 400px;
}

.ball-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 400px;


  /* transform: rotate(0deg); */
  /* background-color: #b08ee2; */
  animation: rotate 5s 1 ease-out forwards 2s;
  /* animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s; */
  }


.ball {
  /* opacity: 0.8; */
  border-radius: 50%;
  background-color: wheat;
  width: 15px;
  height: 15px;
  border: 1px solid #b752ce;
  position: absolute;
  margin-top: 45px;
  z-index: 1;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(815deg);
  }
}
