*{
  line-height: 1;
}

body {
  background-color: rgb(240, 244, 242);
  display: flex;
  font-family: Roboto, sans-serif;
  accent-color: rgb(165, 222, 23);
  }

.login {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.25);
  width: 503px;
  height: 614px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
figure {
  display: inline-flex;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(236, 242, 247, 1);
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

H1 {
  color: rgba(0, 0, 0, 1);
  font-size: 34px;
  font-weight: 700;
  line-height: 39.84px;
  text-align: center;
}
img {
  width: 34px;
  height: 35px;
  margin: auto;
}
footer {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  }

header figure :hover {
  border: solid 3px rgb(86, 81, 180);
  color: aqua;
}
main {
  width: 400px;
  display: block;
  margin: auto;
}
input {
  background: rgba(236, 242, 247, 1);
  border: none;
  border-radius: 5px;
  width: 399px;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 20px;
}

button {
  width: 403px;
  height: 42px;
  border: none;
  border-radius: 5px;
  background: rgba(214, 140, 193, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: rgba(0, 0, 0, 1);
}
::placeholder {
  color: rgba(164, 164, 164, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  padding-left: 10px;
}

/* input[type="checkbox"] :checked {
  accent-color: rgb(186, 15, 18);
  border: none;
  border-radius: 5px;
} */
input[type="checkbox"] :enabled {
  accent-color: rgb(186, 15, 18);
  border: none;
  border-radius: 5px;
}

/* all:unset; */

.remember{
  /* accent-color: auto; */
  background: rgb(14, 195, 14);
  bottom: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;

} 
