body {
  display: flex;
  flex-wrap: nowrap;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  width: 503px;
  height: 614px;
  border-radius: 25px;
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.25);
}
h1 {
  text-align: center;
  margin: 40px;
  color: rgba(0, 0, 0, 1);
  font-size: 34px;
  font-weight: 700;
  line-height: 39.84px;
  width: 402px;
  height: 72px;
}
.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0px 0px 50px 0px;
}
form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: auto;
}
label {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  width: 403px;
  height: 29px;
}
input {
  background: rgba(236, 242, 247, 1);
  height: 44px;
  width: 403px;
  border-radius: 5px;
  border: none;
  margin-bottom: 25px;
}

button {
  width: 403px;
  height: 42px;
  background: rgba(214, 140, 193, 1);
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  border: none;
}
.img {
  background: rgba(236, 242, 247, 1);
  width: 60px;
  height: 50px;
  border-radius: 5px;
}
img {
  display: flex;
  margin: 10% auto;
}

input[type="checkbox"] {
  margin-right: 3px;
  margin-top: 0px;
  width: 14px;
  height: 14px;
  border: none;
  accent-color: rgba(236, 242, 247, 1);
}

::placeholder {
  color: rgba(164, 164, 164, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  padding-left: 7px;
  width: 379px;
  height: 44px;
}
a {
  all: unset;
}
.right {
  color: rgba(214, 140, 193, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}
