* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(202, 202, 202, 1);
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  background-color: blue;
}
center{
    display: flex;
    gap: 40px;
    padding: 20px;

}