* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #cacaca;
}

.number {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 700;
  line-height: 22.27px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.icon {
  font-family: Roboto;
  font-size: 19px;
  font-weight: 700;
  line-height: 22.27px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  color: rgba(151, 151, 151, 1);
}
.box {
  background: rgba(250, 252, 254, 1);
  width: 151px;
  height: 112px;
  top: 350px;
  left: 702px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box_add {
  background: rgba(250, 252, 254, 1);
  width: 151px;
  height: 112px;
  top: 350px;
  left: 702px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box:hover {
  background: #cacacb;
}
.box_add:hover {
  background: #cacacb;
}
.boxs {
              display: flex;
            justify-content: space-between;
            gap: 10px;
  
  flex-direction: row;
  
  border: solid 1px red;
  /* padding: 10px; */
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  box-shadow: -2px 7px 20px 0px rgba(0, 0, 0, 0.08);
  width: 783px;
  height: 199px;
  /* top: 286px;
  left: 661px; */
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
